/* Hand-Drawn Notebook Fullpage Styles
 * Most styles are embedded in the HTML file for this template
 * This file can be used for additional overrides or external styles if needed
 */

/* Additional global styles can be added here */
